html, body {
    margin: 0;
    padding: 0;
}

h2, li {
    color: white;
}
.company,
.black-screen,
.backroom {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.company {
    background-image: url(images/company.jpg); 
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 999;
}

.black-screen {
    background-color: black; 
    z-index: 998;
    margin-top: -100%;
}

.backroom {
    background-image: url(images/backroom_texture.jpg); 
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -200%;
    z-index: 999;
}

@keyframes flicker {
    0%, 100% { opacity: 0.8; } /* Opacité initiale */
    10% { opacity: 0.7; } /* Variation 1 */
    20% { opacity: 0.9; } /* Variation 2 */
    30% { opacity: 0.35; } /* Variation 3 */
    40% { opacity: 0.95; } /* Variation 4 */
    50% { opacity: 0.55; } /* Variation 5 */
    60% { opacity: 1; } /* Variation 6 */
    70% { opacity: 0.85; } /* Variation 7 */
    80% { opacity: 0.55; } /* Variation 8 */
    90% { opacity: 0.9; } /* Variation 9 */
}

h2 {
    animation: flicker 2s infinite; 
    font-size: 40px;
    text-align: center;
}

